<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 <listener class-name="com.automacao.test.paranabanco.report.ListennerClass"></listener>
 </listeners>
 
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automacao.test.paranabanco.desafio.Desafio"/>
      <class name="com.automacao.test.paranabanco.desafio.Api.Apitest"/>
      <class name="com.automacao.test.paranabanco.desafio.Api.JsonSchema"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
